<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>My Vue App</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app">
    <form @submit.prevent="addTodo">
        <input v-model="todo" placeholder="enter your todo here">
        <button>Add Todo</button>
    </form>
    <p>{{ todo }}</p>
  </div>
  <script src="main.js"></script>
</body>
</html>